<div class="row comment-info-div col-md-12">
                    <a ng-click="showProfile(comment.user_id)"><img class="pull-left img-circle" ng-src="{{comment.picture_url}}" id="owner-image" height="40" width="40"></a>
                    <div class="row">
                        <a ng-click="showProfile(comment.user_id)"><h5 class="post-info-text pull-left" id="owner-name"><b>{{comment.firstname}}  {{comment.lastname}}</b></h5></a>
                        <h5 class="post-info-text" id="post-date">{{comment.created}}</h5>
                    </div> 
                </div>
                <div class="row">
                    <div ng-hide="isEdittedClicked && comment.user_id==user_id" class="col-xs-12 col-md-12">
                        <h5 class="post-info-text" id="comment-text"><b>{{comment.comment}}</b></h5> 
                    </div> 
                    <div ng-show="isEdittedClicked && comment.user_id==user_id" class="col-xs-11 col-md-11">
                        <textarea class="post-info-text" id="edit-text" ng-model="edited_comment">{{edited_comment}}</textarea>                     </div>
                    <div ng-show="!isEdittedClicked && comment.user_id==user_id" class="col-xs-12 col-md-12">
                        <button ng-click="setEdittedClicked(true, comment.comment)" class="abtn"><img src="img/edit.png" height="30" width="30"> edit</button>
                    </div>
                    <div ng-show="isEdittedClicked && comment.user_id==user_id" class="col-xs-12 col-md-12">
                        <div id="edit-buttons-div"><button ng-click="submitEditted(edited_comment, comment.comment_id)" class="abtn"><img src="img/post.png" height="30px" width="30px"> submit</button> <button class="abtn" ng-click="unsetEdittedClicked()"><img src="img/close.png" height="30px" width="30px"> cancel</button>
                        </div>
                    </div>
                </div>