<div ng-show="!loggedIn" class="geniusesbar top-navi-bar" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    
      
    <!-- Collect the nav links, forms, and other content for toggling -->
     <div class="pull-left geniuses">
            <h2 id="geniuses-text"><b>GENIUSES</b></h2>
            <img id="geniuses-logo-img" src="img/logo new.png">
     </div>      
      
     <div class="pull-right"> 
         
        <div class="dropdown pull-right">
            <button ng-show="!loggedIn" class="accessbtn" ui-sref="login">sign in</button> <button ng-show="!loggedIn" class="accessbtn" ui-sref="login">signup</button>
        </div>    
     </div> 
  </div><!-- /.container-fluid -->
</div>    


<div class="openPost">
    <div class="container">
        <div class="row">
            <h4 ng-show="!loggedIn" class="text-center connect-now-text">Connnect.<span class="geniuses-color">Learn</span>.Share on Geniuses - The Social Learning Platform for the coolest teenagers. <a ui-sref="login">Join Now!</a> or <a ui-sref="login">Sign In.</a> </h4>
        </div>
        
        <div class="row">   
            <div class="menu col-md-2">
                <div>
                  <a href="https://facebook.com/GeniusesNG"><img src="img/fb.png" height="30" width="30"> facebook</a>
                </div>
                <div>
                  <a href=""><img src="img/twitterHover.png" height="30" width="30"> twitter</a>
                </div>
                <div>
                  <a href=""><img src="img/google+Hover.png" height="30" width="30"> google +</a>
                </div>
                <div>
                  <a href="" data-toggle="modal" data-target="#emailModal"><img src="img/new67.png" height="30" width="30"> mail</a>
                </div>
                <div>
                  <a href=""><img src="img/chat46.png" height="30" width="30"> chat</a>
                </div>
            </div>
            <div class="timeline col-xs-12 col-md-8">
                
            <post-open></post-open>
         
            </div>
            <div class="twitter col-xs-2 col-md-3">
              
            </div>  
            
          </div><!-- end of row --> 
    </div>
</div>


    <div class="modal fade" id="#signinModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header black-head">
              <h5 class="text-center">To continue you will need to SIGN IN or SIGN UP.</h5>
          </div> 
          <div class="modal-body">
              <button class="abtn">sign in/sign up</button>
          </div>
        </div>
      </div>
    </div> 


<style>
    .openPost{
        margin-top: 20px;
    }
    
    .single-post-div{
        min-width:500px;
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .accessbtn{
            display: inline;
            margin-left: auto;
            margin-right: auto;
            background-color: rgb(255,255,255);
            background-color: rgba(0,0,0,0);
            border: 0px solid white;
            margin-top: 10px;
          }
    
    .accessbtn:hover{
        color: dodgerblue;
    }
    
    .connect-now-text{
        margin-bottom: 25px;
        background-color: white;
        padding-bottom: 15px;
        padding-top: 15px;
        -webkit-box-shadow: 1px 2px 18px -3px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 2px 18px -3px rgba(0,0,0,0.75);
        box-shadow: 1px 2px 18px -3px rgba(0,0,0,0.75);
        line-height: 25px;
    }
    
     a{
            text-decoration: none;
        }

        a:hover{
            text-decoration: none;
        }
    
</style>
