<html>
  <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=600, user-scalable=no">
      <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
      <title>Geniuses</title>

      <link rel="icon" href="favicon.ico" type="image/x-icon">
      <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
      <link href='https://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
      
      <link href="css/main.css" rel="stylesheet" />
      <link href="css/othermain.css" rel="stylesheet"/>
      
      <link rel="stylesheet" href="vendor/bootstrap.min.css">
      <link rel="stylesheet" href="vendor/bootstrap-theme.min.css">
      
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script src="scripts/slippry.min.js"></script>
      <link rel="stylesheet" href="css/slippry.css"/>
  </head>     
  <body>  

<style>
    #quick-tour-text-div{
        background-color: white;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }
</style>

<div id="quick-tour-div">
    <div id="quick-tour-text-div">
        <h4 class="text-center">Geniuses Quick Tour</h4>
    </div>
                    <ul id="slippry-demo">
                      <li>
                        <a href="#slide1">
                          <img src="img/about/I.jpg">
                        </a>
                      </li>
                      <li>
                        <a href="#slide2">
                          <img src="img/about/II.jpg">
                        </a>
                      </li>
                      <li>
                        <a href="#slide3">
                          <img src="img/about/III.jpg">
                        </a>
                      </li>
                      <li>
                        <a href="#slide4">
                          <img src="img/about/IV.jpg">
                        </a>
                      </li>
                      <li>
                        <a href="#slide5">
                          <img src="img/about/V.jpg">
                        </a>
                      </li>
                      <li>
                        <a href="#slide6">
                          <img src="img/about/VI.jpg">
                        </a>
                      </li>
                      <li>
                        <a href="#slide7">
                          <img src="img/about/VII.jpg">
                        </a>
                      </li>     
                    </ul>                                                     
</div>
      
      <script type="text/jscript">
        $(document).ready(function(){
          $('#slippry-demo').slippry({
            auto: true
          })
        });
      </script>
      
</body>
</html>
      